<div class="animate__animated animate__fadeIn">
    <span class="volver" (click)="goBack()"><i class="fa-solid fa-arrow-left">{{'Back' | translate}}</i></span>
<div class="card mx-auto mt-3" style="max-width: 540px;">
    <div class="card-body text-center">
        <h5 class="card-title">{{regionInfo.name | titlecase}}</h5>
        <p class="card-text">{{regionInfo.name | titlecase}} {{'has' | translate}} {{regionInfo.locations?.length}} {{'locations in the region' | translate}}.</p>
        <p class="card-text">{{'It appears in' | translate}} {{regionInfo.version_groups?.length}} {{'games + dlcs' | translate}}.</p>
        <p>
            <span class="badge text-bg-success me-2 mb-1 py-2" *ngFor="let item of regionInfo.version_groups">
                {{item.name | titlecase}}
            </span>
        </p>
        <a (click)="getPokedex(item.url)" *ngFor="let item of pokedexes; let i = index"
            class="btn btn-primary me-2 mb-1">
            {{'View pokedex' | translate}} {{i + 1}}
        </a>
    </div>
</div>
</div>




<!-- MANDAR SOLAMENTE ID POKEDEX -->
<div *ngIf="showNextComponent">
    <!-- <app-infinite-scroll [totalPokemons]="totalPokemons" [pokemonsCpy]="pokedexPokemons"></app-infinite-scroll> -->
    <app-infinite-scroll [pokedexID]="pokedexID" ></app-infinite-scroll>
</div>