<label class="fw-bolder" [for]="label">{{label| titlecase}}</label>
<select [name]="label" [disabled]="isDisabled" #valor (click)="onClick(valor.value)" [id]="label" class="form-select">
    <option selected value="">--- Select language ---</option>
    <option [value]="item" *ngFor="let item of language">
        {{item}}</option>
</select>

<div class="input-field">
    <span *ngIf="submitted && errors?.required" class="text-danger">{{label | titlecase}} is required</span>
    <span *ngIf="errors?.pattern" class="text-danger">This field is invalid</span>
    <span *ngIf="errors?.minlength" class="text-danger">This field must be at least {{errors.minlength.requiredLength}}
        characters</span>
    <span *ngIf="errors?.maxlength" class="text-danger">This field must be less than {{errors.maxlength.requiredLength}}
        characters</span>
</div>