<h2 class="text-center">Register</h2>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 38rem;">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
            <div class="card-body">
                <div class="form-group">
                    <app-input-field formControlName="name" [label]="'name'" [type]="'text'"
                        [placeholder]="'Enter name'"></app-input-field>
                    <span *ngIf="submitted && signupForm.get('name')?.errors?.['required']" class="text-danger">Name
                        is required</span>
                    <span class="text-danger"
                        *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.errors?.['maxlength']">
                        Name must be less than 20 characters
                    </span>
                    <span class="text-danger"
                        *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.errors?.['minlength']">
                        Name must be more than 3 characters
                    </span>
                </div>
                <div class="form-group mt-2">
                    <app-input-field formControlName="phone_number" [label]="'phone number'" [type]="'number'"
                        [placeholder]="'Enter phone number'"></app-input-field>
                    <span *ngIf="submitted && signupForm.get('phone_number')?.errors" class="text-danger">Phone number
                        is required. Example: 678944541</span>
                    <span class="text-danger"
                        *ngIf="signupForm.get('phone_number')?.touched && signupForm.get('phone_number')?.errors">
                        Phone number must be 9 numbers
                    </span>
                    <span class="text-danger"
                        *ngIf="signupForm.get('phone_number')?.touched && signupForm.get('phone_number')?.errors?.['maxlength']">
                        Phone number must be 9 numbers
                    </span>

                </div>
                <div class="form-group mt-2">
                    <app-input-field formControlName="email" [label]="'email'" [type]="'email'"
                        [placeholder]="'Enter email'"></app-input-field>
                    <span *ngIf="submitted && signupForm.get('email')?.errors" class="text-danger">Email
                        is required</span>
                    <span class="text-danger"
                        *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors">
                        Email pattern isnt correct. Example: test&#64;test.com
                    </span>
                </div>
                <div class="form-group mt-2">
                    <label class="fw-bolder" for="gender">Gender</label>
                    <div *ngFor="let item of gender, index as i" class="form-check form-check-inline">
                        <input type="radio" [value]="item" name="gender" formControlName="gender"> {{item}}
                    </div>
                    <br />
                    <span *ngIf="submitted && signupForm.get('gender')?.errors" class="text-danger">Gender
                        is required</span>
                </div>
                <div class="form-group mt-2">
                    <label class="fw-bolder" for="language">Language</label>
                    <select name="language" class="form-select" id="language" formControlName="language">
                        <option selected value="">--- Select language ---</option>
                        <option *ngFor="let item of language">
                            {{item}}</option>
                    </select>
                    <span *ngIf="submitted && signupForm.get('language')?.errors?.['required']"
                        class="text-danger">Language
                        is required</span>
                </div>
                <div class="form-group mt-2">
                    <app-input-field formControlName="password" [label]="'password'" [type]="'password'"
                        [placeholder]="'Enter password'"></app-input-field>
                    <span *ngIf="submitted && signupForm.get('password')?.errors?.['required']" class="text-danger">
                        Password is required
                    </span>
                    <span class="text-danger"
                        *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['minlength']">
                        Password must be more than 6 characters
                    </span>
                    <span class="text-danger"
                        *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['maxlength']">
                        Password must be lees than 20 characters
                    </span>
                </div>
                <div class="form-group mt-2">
                    <app-input-field formControlName="password_confirmation" [label]="'password confirmation'"
                        [type]="'password'" [placeholder]="'Enter password confirmation'"></app-input-field>
                    <span *ngIf="submitted && signupForm.get('password_confirmation')?.errors?.['required']"
                        class="text-danger">
                        Password confirmation is required
                    </span>
                    <span
                        *ngIf="signupForm.get('password')?.value != signupForm.get('password_confirmation')?.value && signupForm.get('password_confirmation')?.touched"
                        class="text-danger">
                        Passwords do not match
                    </span>
                </div>

                <div class="d-flex justify-content-around mt-2">
                    <p>Already have an account?</p>
                    <p class="text-primary" style="cursor: pointer;" routerLink="/login">Click here</p>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" *ngIf="!loading" class="btn btn-primary w-100 mt-2">Submit</button>
                </div>


                <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Loading...</span>
                </button>
            </div>
        </form>
        {{signupForm.value | json}}
    </div>
</div>