<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="username">Email</label>
    <input type="text" required class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"
      [(ngModel)]="email" id="username" placeholder="Enter email">
    <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger">Email is required. Example:
      test&#64;test.com</span>
  </div>

  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>