.poke-card {
    cursor: pointer;
}

.pokemon-img {
    width: 100px;
    height: 100px;
}

.searchPokemon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.hover:hover{
    color: blue;
}

.no-hidden{
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: visible;
  }