<div class="searchPokemon mb-3 input-group">
    <span class="me-2">{{'Type to search' | translate}}</span>
    <input type="text" (input)="searchPokemon($event)" class="rounded" placeholder="{{'Pokemon name...' | translate }}">
</div>

<div *ngIf="pokemons.length == 0">
    <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">{{'No results found' | translate}}!</h4>
        <p>{{'Try to search another pokemon' | translate}}.</p>
    </div>
</div>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col"># <span class="poke-card" (click)="orderById()">
                    <i *ngIf="!orderId" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="orderId" class="fa-solid fa-arrow-down"></i>
                </span></th>
            <th scope="col">{{'Image' | translate}}</th>
            <th scope="col">{{'Name' | translate}}
                <span class="poke-card" (click)="orderByName()"><i *ngIf="!orderName" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="orderName" class="fa-solid fa-arrow-down"></i></span>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr [ngClass]="{'table-success': pokemon.types[0].type.name == 'grass' || pokemon.types[0].type.name == 'bug','table-danger': pokemon.types[0].type.name == 'fire',
        'table-primary': pokemon.types[0].type.name == 'water' || pokemon.types[0].type.name == 'dragon', 'table-secondary': pokemon.types[0].type.name == 'ground'}"
            class="poke-card planta" *ngFor="let pokemon of pokemons | paginate: {id: 'listing_pagination',
        itemsPerPage: limit,
        currentPage: page,
        totalItems: totalPokemons
    }">
            <th scope="row">{{pokemon.id}}</th>
            <td>
                <img (click)="goToDetailsPokemon(pokemon.id)" class="rounded pokemon-img"
                    [src]="pokemon.sprites | noImage" [alt]="pokemon.name">
            </td>
            <td>
                <div (click)="goToDetailsPokemon(pokemon.id)">
                    {{pokemon.name | titlecase}}
                </div>
                <div (click)="addPokemonToPokedex(pokemon)">
                    <i class="fa-solid fa-user-plus hover"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
    {{'Items per page' | translate}}:
    <select (change)="changeLimit($event)">
        <option [defaultSelected]="10" value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
    </select>
</div>
<div class="text-center">
    <pagination-controls id="listing_pagination" previousLabel="{{'Prev' | translate}}"
        nextLabel="{{'Next' | translate}}" (click)="changePage(page)" [maxSize]="5" [directionLinks]="true"
        (pageChange)="page = $event"></pagination-controls>
</div>