<div *ngIf="pokemons.length === 0 && personalPokedex">
    <div class="alert alert-warning" role="alert">
        <h3>{{'Your pokedex is empty' | translate}}!</h3>
    </div>
</div>

<div *ngIf="personalPokedex && pokemons.length > 0">
    <h1>{{'Personal pokedex' | translate}}</h1>
</div>

<div class="my-5" *ngIf="pokemons.length > 0">

    <div class="row row-cols-1
    row-cols-xl-6
    row-cols-lg-5
    row-cols-md-4
    row-cols-sm-3
    g-4">
        <div class="col animate__animated animate__fadeInUp " *ngFor="let pokemon of pokemons">
            <app-pokemon-card [personalPokedex]="personalPokedex" [pokemon]="pokemon"
                (deletePokemon)="deletePokemon($event)" (addPokemon)="addPokemonToPokedex($event)" (detailPokemon)="detailsPokemon($event)"></app-pokemon-card>
        </div>
    </div>
</div>